.dataGridRoot {
  width: 100%;
}

.dataGridCell {
  white-space: normal;
  word-wrap: break-word;
}

.dataGridColumnHeaders {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataGridViewport {
  overflow-x: auto;
}

.dataGridFooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0 5px;
}

@media (max-width: 600px) {
  .dataGridCell, .dataGridColumnHeaders, .dataGridFooterContainer {
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  .dataGridCell, .dataGridColumnHeaders, .dataGridFooterContainer {
    font-size: 14px;
  }
}
